Ejemplos/App/App/bin/
Ejemplos/App/App/obj/
Ejemplos/App/App/bin/Debug/App.exe
Ejemplos/App/App/bin/Debug/App.pdb
Ejemplos/App/App/obj/Debug/App.csproj.FileListAbsolute.txt
Ejemplos/App/App/obj/Debug/App.csprojResolveAssemblyReference.cache
Ejemplos/App/App/obj/Debug/App.exe
Ejemplos/App/App/obj/Debug/App.pdb
Ejemplos/App/App/bin/Debug/App.exe
Ejemplos/App/App/obj/Debug/App.csproj.GenerateResource.Cache